@model Restaurant.ViewModels.DishViewModel
@{
    ViewData["Title"] = "Detail";
}

<div class=" container">
    <h2>@Model.Name</h2>
    <img src="@Model.ImageUrl"/>
    <p>@Model.FormattedPrice</p>
</div>
